extends index

block content
	#bodyContainer
		div#addContent
			input#name(type='text', placeholder='Short description')
			input#filename(type='text', placeholder='File name')
			input#site(type='text', placeholder='Site')
			input#period(type='text', placeholder='Time period')
			input#date(type='text', placeholder='Date')
			input#material(type='text', placeholder='Material')
			textarea#description(placeholder='Full description')
			input#submitButton(type='submit', name='Submit', value='Submit')