block scripts

block content
  div#addContent
    input#name(type='text', placeholder='Short description')
    input#filename(type='text', placeholder='File name')
    input#timePeriod(type='text', placeholder='Time period')
    input#date(type='text', placeholder='Date')
    textarea#description
  div#visualizer
     img#currentImage
    
